<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
  <div class="col-md-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div><%= f.label :nome %><br />
        <%= f.text_field :name%>
      </div>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
        
       <div><%= f.label :Data_de_nascimento %><br />
        <%= f.date_select :birthday %>
       </div>
       
       <div><%= f.label :Estado %><br />
        <%= f.text_field :state%>
      </div>
      
      <div><%= f.label :Cidade %><br />
        <%= f.text_field :city%>
      </div>
      
      <div><%= f.label :Genero %><br /> </div>
      <div><%= f.radio_button :gender, true, :style => "width: 15px; height: 15px;" %> <%= f.label :gender, "Mulher" %> </div>
      <div> <%= f.radio_button :gender, false, :style => "width: 15px; height: 15px;" %> <%= f.label :gender, "Homem" %> </div>
      
       <div class="field">
        <%= f.label :Senha %> <i>(deixe em branco se não quiser alterar)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caracteres mínimos</em>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :Confirme_sua_senha %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    
      <div class="field">
        <%= f.label :Senha_atual %> <i>(precisamos que você informe sua senha para salvar as alterações)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
    
    <p><h3>Cancelar minha conta</h3></p>
    
    <p>Unhappy? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>
    
    <%= link_to "Voltar", :back %>
  </div>
</div>