<h2>Editar evento</h2>

<%= form_for @evento, html: { multipart: true } do |f| %>
  
  <div class="field">
    <%= f.label :Imagem %><br />
    <%= f.file_field :image%>
  </div>
  
  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :nome, placeholder: "Cipoada" %>
  </div>
  
  <div class="field">
    <%= f.label :Descricao %><br />
  <%= f.text_field :descricao %>
  </div>
    
  <div class="field">
    <%= f.label :Inicio %><br />
  <%= f.datetime_local_field :inicio %>
  </div>
  
  <div class="field">
    <%= f.label :Fim %><br />
  <%= f.datetime_local_field :fim %>
  </div>
  
  <div class="field">
    <%= f.label :Nome %><br />
  <%= f.text_field :nome_local %>
  
  <div class="field">
    <%= f.label :Endereco %><br />
  <%= f.text_field :endereco %>
  </div>
  
  <p><%= f.submit() %></p>
  <p><%= link_to('Cancelar', evento_path(@evento)) %></p>
<%end%>

