<h1>Eventos</h1> 

<div class="row">
  <div class="col-md-3">
    <%= form_tag eventos_path, :method => :get do %>
        <%= label_tag("Meus eventos") %>
        <%= check_box_tag 'meus_eventos' %>
      <%= submit_tag 'Atualizar' %>
    <%end%>
    
    <%= link_to 'Procurar locais para criar evento', places_search_type_path, :id => 'procurar_locais' %> </br>
    <%= link_to 'Já sei onde vai ser (Criar evento)', new_evento_path, :id => 'criar_evento' %> </p>
  
    <p><% @eventos.each do |evento| %>
      <b>Nome: </b> <%= evento.nome %> <br/>
      <b>Local: </b><%= evento.endereco %> <br/>
      <b>Criador: </b><%= evento.user.email %> <br/>
      <div><%= image_tag evento.image.url(:thumb) %></div>
      
      <%=link_to 'Mais informações', evento_path(evento.id) %></p>
     <%end%>
  </div>
</div>