<h3>A busca está restrita a locais de Recife</h3>

<div class="row">
  <div class="col-md-4">
     <%= link_to 'Dados abertos de Recife', places_search_with_dados_abertos_path, id: 'dados_abertos_recife' %>
     
     <div>
     <%= form_tag '/places/search_with_yelp', :method => 'get' do %>
             <%= text_field_tag(:search_input) %>
             <%= submit_tag("Pesquisar") %>
     <%end%>
     </div>
     
     <%=link_to 'Cancelar', eventos_path%>
   </div>
</div>